<title>KOS</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="../public/css/main.css" />
<script type="text/javascript">
function myGame() {
    var path = String.fromCharCode(34)+'C:\\Users\\remote\\TestClientViewer.exe'+String.fromCharCode(34) ;
    //alert(path);
    var WshShell = new ActiveXObject("WScript.Shell");
    WshShell.Run(path);
}
</script>
