<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<% include ./index_header.ejs %>
	</head>
	<body class="is-preload">

		<% include ./header.ejs %>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>EOS 기반 클라우드 게이밍 플랫폼</h1>
					<p>저사양 컴퓨터로 고사양 게임을 즐겨보세요!<br/>
						<div id="menu2">
							<ul>
								<li><a href="/" accesskey="1" title="">Homepage</a></li>
								<li><a href="game" accesskey="4" title="">GAME</a></li>
								<li class="current_page_item"><a href="login" accesskey="2" title="">로그인</a></li>
								<li><a href="signup" accesskey="3" title="">회원가입</a></li>
							</ul>
						</div>
					</p> 
				</div>

				<video autoplay loop muted playsinline src="images/battle.mp4"></video>
			</section>

		<!-- Highlights -->

		<div class="container" style="margin : auto; margin-top:50px;margin-bottom:50px; width:50%">
			<h2 style="text-align: center; margin-top : 10px">로그인</h2><br><br>
			<form method="post" action="/result_page_login">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall">
						<h4>아이디</h4>
						<input type="text" name="id" id="id" value="" placeholder="ID" />
					</div>
					  <div class="col-6 col-12-xsmall">
						<h4>비밀번호</h4>
						<input type="password" name="pw" id="pw" value="" placeholder="Password" />
					</div></p>
					<br><br>
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="로그인하기" class="primary" /></input></li>
						</ul>
					</div>
					<div class="col-12">
						<a href="signup"> 회원이 아니신가요? </a>
					</div>

				</div>
			</form>
		</div>

	<!-- Footer -->
	<% include ./footer.ejs %>

	<!-- Scripts -->
	<% include ./scripts.ejs %>

	</body>
</html>
