<!DOCTYPE html>
<html>
    <head>
        <title>payment<%= title %></title>
    </head>
    <body>
        <h2><%= method %> result page</h2>
        <p>game: <%= gamename %></p>
        <p>cost: <%= cost %></p>
    </body>
</html>
