<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<% include ./index_header.ejs %>
	</head>
	<body class="is-preload">

		<% include ./header.ejs %>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>EOS 기반 클라우드 게이밍 플랫폼</h1>
					<p>저사양 컴퓨터로 고사양 게임을 즐겨보세요!<br/>
						<div id="menu2">
							<ul>
								<li><a href="/" accesskey="1" title="">Homepage</a></li>
								<li><a href="game" accesskey="4" title="">GAME</a></li>
								<li class="current_page_item"><a href="login" accesskey="2" title="">로그인</a></li>
								<li><a href="signup" accesskey="3" title="">회원가입</a></li>
							</ul>
						</div>
					</p>
				</div>

				<video autoplay loop muted playsinline src="images/battle.mp4"></video>
			</section>

		<!-- Highlights -->

		
		
		
    <button onclick="location.href='/game'" class="primary" width="100"height="50">게임목록으로</button>
    
    <div class="row gtr-uniform">
    
    <div class="col-6 col-12-xsmall">
    <img src="/public/images/apex_icon.png" alt="game_icon" width="100" height="150">
    <h4>APEX</h4><br><h3>0.0001 EOS / hour</h3>
     </div>
     
     <div class="col-6 col-12-xsmall">
     <img src="/public/images/autochess_icon.png" alt="game_icon" width="100" height="150">
       <h4>AutoChess</h4><br><h3>0.0001 EOS / hour</h3>
        </div>
        
        
     </div>
     
     
  <div class="col-6 col-12-xsmall"><img src="/public/images/dota2_icon.png" alt="game_icon" width="100" height="150"><h4>DOTA2</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/fortnite_icon.png" alt="game_icon" width="100" height="150"><h4>FORTNITE</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/gta5_icon.png" alt="game_icon" width="100" height="150"><h4>GTA5</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/hearthstone_icon.png" alt="game_icon" width="100" height="150"><h4>HearthStone</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/lol_icon.png" alt="game_icon" width="100" height="150"><h4>LeagueOfLegends</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/overwatch_icon.png" alt="game_icon" width="100" height="150"><h4>OverWatch</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/pubg_icon.png" alt="game_icon" width="100" height="150"><h4>PUBG</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/starcraft2_icon.png" alt="game_icon" width="100" height="150"><h4>StarCraft2</h4><br><h3>0.0001 EOS / hour</h3></div>
  <div class="col-6 col-12-xsmall"><img src="/public/images/wow_icon.png" alt="game_icon" width="100" height="150"><h4>World Of Warcraft</h4><br><h3>0.0001 EOS / hour</h3></div>
		
	<!-- Footer -->
	<% include ./footer.ejs %>

	<!-- Scripts -->
	<% include ./scripts.ejs %>

	</body>
</html>
