<!DOCTYPE html>
<html>
    <head>
        <title>result_page_login<%= title %></title>
    </head>
    <body>
        <h2><%= method %> result page</h2>
        <p>id: <%= id %></p>
        <p>pw: <%= pw %></p>
    </body>
</html>
